
Task1 Read the dataset and do data pre-processing

In [1]:
#import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('/content/drug200.csv.xls')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [4]:
df['Drug'].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [6]:
le=LabelEncoder()

In [7]:
df['Drug']=le.fit_transform(df['Drug'])

In [8]:
x = pd.get_dummies(df.iloc[:,0:5]).values

In [9]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   23   F    HIGH        HIGH   25.355     0
1   47   M     LOW        HIGH   13.093     3
2   47   M     LOW        HIGH   10.114     3
3   28   F  NORMAL        HIGH    7.798     4
4   61   F     LOW        HIGH   18.043     0

In [10]:
y = df.iloc[:,5:].values

In [ ]:
#import the libraries
from sklearn.model_selection import train_test_split

In [ ]:
#Split the training and testing data
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)

In [ ]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

In [ ]:
scaler=StandardScaler()
xtrain=scaler.fit_transform(xtrain)
xtest=scaler.transform(xtest)

Task 2 Build an ANN Model(with input layes,min 3 hidden layers&output layer)

In [17]:
# Build an ANN model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# ANN Model
model = Sequential()
model.add(Dense(8,activation='relu',input_shape=(xtrain.shape[1],)))#input layer
model.add(Dense(32,activation='relu'))#1st hidden layer
model.add(Dense(26,activation='relu'))#2nd hidden layer
model.add(Dense(16,activation='relu'))#3rd hidden layer
model.add(Dense(5,activation='softmax'))#Output layer

In [ ]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [ ]:
model.summary()

In [ ]:
model.fit(xtrain,ytrain,epochs=25,batch_size=5,verbose=1)

Task 3 Test the model with random data

In [ ]:
data=np.array([[32,0,2,2,7.798]])
ypred=model.predict(data)
pred_labels=le.inverse_transform(np.argmax(ypred,axis=1))
print("Predicted Drug Class:", pred_labels)