AI ASSESSMENT-1

**Task - 1 
Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)**

In [1]:
import pandas as pd
import numpy as np

In [2]:
s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
# Creating dataframe with Series
df=pd.DataFrame([s1,s2])
df

          0         1         2         3
0  0.220945  0.261781  0.794312  0.472279
1  0.725553  0.014129  0.745012  0.616567

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [3]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
#changing the column names
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.220945        0.261781        0.794312        0.472279
1        0.725553        0.014129        0.745012        0.616567

Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [4]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        2.000000        2.000000        2.000000        2.000000
mean         0.473249        0.137955        0.769662        0.544423
std          0.356812        0.175117        0.034861        0.102027
min          0.220945        0.014129        0.745012        0.472279
25%          0.347097        0.076042        0.757337        0.508351
50%          0.473249        0.137955        0.769662        0.544423
75%          0.599401        0.199868        0.781987        0.580495
max          0.725553        0.261781        0.794312        0.616567

In [5]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        2.000000        2.000000        2.000000        2.000000
mean         0.473249        0.137955        0.769662        0.544423
std          0.356812        0.175117        0.034861        0.102027
min          0.220945        0.014129        0.745012        0.472279
25%          0.347097        0.076042        0.757337        0.508351
50%          0.473249        0.137955        0.769662        0.544423
75%          0.599401        0.199868        0.781987        0.580495
max          0.725553        0.261781        0.794312        0.616567


Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [6]:
df.isnull()#to check null values

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False

In [7]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  2 non-null      float64
 1   Random value 2  2 non-null      float64
 2   Random value 3  2 non-null      float64
 3   Random value 4  2 non-null      float64
dtypes: float64(4)
memory usage: 192.0 bytes

In [9]:
df['Random value 1']

0    0.220945
1    0.725553
Name: Random value 1, dtype: float64

In [10]:
df['Random value 1'].dtype

dtype('float64')

In [11]:
df['Random value 2'].dtype

dtype('float64')

In [12]:
df['Random value 3'].dtype

dtype('float64')

In [13]:
df['Random value 4'].dtype

dtype('float64')

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [14]:
df.loc[0:1,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.261781        0.794312
1        0.014129        0.745012